::ng-deep  .user-menu {
  margin-left: 100px;
  color: yellow;
}

.dx-menu{
  display: flex;
  background: red;
}
::ng-deep .header-toolbar {
  .header-logo {
    width: 100px;
    height: 100px;

    .img-logo {
      width: 100px;
      height: 100px;
    }
  }
}
